#container {
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

#outerWrapper {
    width: 100%;
    aspect-ratio: 1/1;
    border: 8px solid #f23857;
    border-radius: 50%;
    padding: 100px;
}

#innerWrapper {
    width: 100%;
    aspect-ratio: 1/1;
    border: 8px solid #e1ff00;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 50px;
}

#text {
    font-family: var(--space-grotesk);
    font-size: larger;
}

#textSpan {
    color: #e1ff00;
}

@media (orientation: portrait) {
    #container {
        height: 25vh;
    }

    #outerWrapper {
        padding: 20px;
    }

    #innerWrapper {
        padding: 20px;
    }
}
