#container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    place-items: center;
}

#background {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    z-index: -1;
}

.children:nth-child(1) {
    border-bottom: 5px solid #e1ff00;
    border-bottom-left-radius: 150%;
}

.children:nth-child(4) {
    border-top: 5px solid #e1ff00;
    border-top-right-radius: 100%;
}

#wrapper {
    height: 40%;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

@media (orientation: portrait) {
    #container {
        height: fit-content;
        padding: 20px;
    }

    #wrapper {
        height: 100%;
        flex-direction: column;
    }
}
