#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 60px;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

#logo {
  font-size: xx-large;
  background: linear-gradient(to right, #0014ff, #009eff, #00e7ff, #00fff6);
  background-clip: text;
  color: transparent;
}

#right {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: grey;
}

.link {
  color: white;
  text-decoration: none;
}

@media (orientation: portrait) {
  #container {
    display: none;
  }
}
