#container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #34343455;
    border: 1px solid #85858555;
    border-radius: 10px;
    padding: 10px;
}

#top {
    display: flex;
    align-items: center;
    gap: 10px;
}

#right {
    display: flex;
    flex-direction: column;
}

#position {
    color: grey;
    font-size: small;
}

#image {
    object-fit: cover;
    border-radius: 50%;
}

#bottom {
    font-weight: 400;
    color: grey;
}
